* {
  margin: 0;
  padding: 0;
}

.content {
  margin: 50px;
}

.gameboard {
  height: 600px;
  width: 600px;
  background-color: rgb(183, 183, 183);
  margin-top: 24px;
  margin-bottom: 24px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.gameboard > div {
  border: 1px solid red;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.buttons > button {
  width: 100px;
  height: 40px;
}
